[Unit]
Description=Gorepos daemon

[Service]
Restart=always
User=www-data
ExecStart=/usr/bin/opensource.org-api /etc/api.opensource.org/licenses.json

[Install]
WantedBy=multi-user.target  
